@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap';

/*********** HEADER **********/
header {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures the header stays on top of other content */
}

.fw-bold { /* to make the header font and the word patient portal bold */
  font-weight: bold;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 50px; /* height of your header */
  padding-bottom: 60px; /* Adjust based on the actual height of your footer */
}

.portal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  margin-top: 2rem;
}

.card {
  width: 35%;
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto; /* Top and bottom margins are 0, left and right are auto */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/********** INDEX BODY **********/
@media (max-width: 768px) {
  .card {
      padding: 20px; /* More padding on smaller screens */
  }
}

@media (min-width: 769px) {
  .card {
      padding: 40px; /* Less padding on larger screens */
  }
}

/********** FOOTER **********/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1000;
  padding: 10px 15px; /* Default padding */

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

 .footer a {
   color: #004a9f;
   text-decoration: none;
}

 .footer .contact-details i {
   color: #004a9f;
   margin-right: 8px;
}

/* Ensure that footer content doesn't get too crowded on small screens */
@media (max-width: 767px) {
  .footer .contact-details {
      flex-direction: column;
      align-items: flex-start;
  }
  
  .footer .contact-details > div {
      color: #004a9f;
      margin-bottom: 5px; /* Adds space between items when stacked */
  }

  .footer .col-md-8, .footer .col-md-4 {
      text-align: center;
      margin-bottom: 10px;
  }
}

/* Adjustments for medium screens and up */
@media (min-width: 768px) {
  .footer {
      padding: 10px 50px; /* Increased padding on larger screens */
  }

  .footer .contact-details {
      justify-content: space-between; /* Space items nicely */
  }

  .footer .col-md-4 {
      text-align: right;
  }
}

/* ALERT */
@media (max-width: 768px) {
  .alert {
      margin-top: 20px; /* Less space on smaller screens */
  }
}

@media (min-width: 769px) {
  .alert {
      margin-top: 50px; /* More space on larger screens */
  }
}

/* MAIN */
@media (max-width: 768px) {
  .accordion-button {
      padding: 0.5rem 1rem; /* Smaller padding for smaller screens */
  }
  .accordion-body {
      padding: 1rem; /* Adequate padding for readability */
  }
}

